PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bd_edutech
DB_USER=postgres
DB_PASSWORD=1234
JWT_SECRET=edutech_sprint2_clave_temporal_1234

# PayPal Sandbox real
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
PAYPAL_CLIENT_ID=coloca_aqui_tu_client_id_sandbox
PAYPAL_CLIENT_SECRET=coloca_aqui_tu_client_secret_sandbox
PAYPAL_CURRENCY=MXN

# Opcional para verificar webhooks reales de PayPal.
# Se obtiene al registrar el webhook en PayPal Developer Dashboard.
PAYPAL_WEBHOOK_ID=
